@font-face {
    font-family: 'cMyWebFont';
    src: url('webMain.woff');
}
@font-face {
    font-family: 'cMyWebFontVar1s';
    src: url('Web437_IBM_VGA_9x14.woff');
}
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Roboto:wght@400;700&display=swap');

body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'cMyWebFont';
    /*font-family: 'Courier New', monospace; */

}
@media only screen and (max-width: 600px) {
    body {
        background-color: blue;
        transform: scale(1.5);
    }
    [class*="cont-"] {
        width: 100%;
    }
}


iframe[seamless] {
    width: 720px;
    height: 1500px;
    border: none;
}

/*tyle="display: flex; flex-direction: row; justify-content: space-evenly;*/
.input-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 98%;
    box-sizing: border-box;
}
.input-bar input {
    background-color: black;
    font-family: 'cMyWebFont';
    font-size: 17px;
    color: #0a9e0a;
    width: 100%;
    padding: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #008000;
    outline: none;
}

h1 {
    color: yellow;
}

h2, h3, h4, h5, p, div, li, ul {
    color: #0a9e0a;
}

h1 {
    font-family: 'cMyWebFont';
    font-size: 34px;
}


.textContent {
    color: #0a9e0a;
    font-size: 17px;
}
.textContentTwo {
    color: black;
    font-size: 17px;
}

/*----- TOP NAV -----*/
.contentHeader {
    background-color: black;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.contentHeader a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.contentHeader p {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.contentHeader a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.contentHeader a.active {
    background-color: #0a9e0a;
    color: white;
}

.cFrameHome {
    text-align: center;
}
.cFrameSoftware {
    text-align: center;
}
.cFrameGames {
    text-align: center;
}

.keywordOne {
    color: orange
}
.word2 {
    color: green;
}
.word3 {
    color: blue;
}