@font-face {
    font-family: 'cMyWebFont';
    src: url('webMain.woff');
}
@font-face {
    font-family: 'cMyWebFontVar1s';
    src: url('Web437_IBM_VGA_9x14.woff');
}


body {
    background-color: rgb(8, 8, 8);
    color: white;
    font-family: 'cMyWebFont';
    /*font-family: 'Courier New', monospace; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media only screen and (max-width: 645px) {
    body {
        background-color: black;
        transform: scale(1.5);
    }
    [class*="cont-"] {
        width: 100%;
    }
}


iframe[seamless] {
    width: 720px;
    height: 900px;
    border: none;
}
input {
    background-color: rgb(14, 14, 14);
    font-family: 'cMyWebFont';
    font-size:17px;
    color: green;
    position: absolute;
    bottom: 0;
    width: 98%;
    border: none;
    border-color: green;
    outline: none;
}
h1, h2, h3, h4, h5, p, div, li, ul {
    color: green;
}
h1 {
    font-family: 'cMyWebFont';
    font-size: 34px;
}

.textContent {
    color: green;
    font-size: 17px;
}

.textContentTwo {
    color: black;
    font-size: 17px;
}

/*----- TOP NAV -----*/
.contentHeader {
    background-color: black;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.contentHeader a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.contentHeader p {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.contentHeader a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.contentHeader a.active {
    background-color: green;
    color: white;
}



.cFrameHome {
    text-align: center;
    
}
.cFrameSoftware {
    text-align: center;
}
.cFrameGames {
    text-align: center;
}